/.phpunit.cache
/.phpunit.result.cache
/.laravel-build
/.tools
/node_modules
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
config/database.local.php
legacy/config/database.local.php
runtime/
